body{
  font-family:"Bowlby One SC";
  font-weight:bold;
  text-transform:uppercase;
  margin:0;
  text-align:center;
  background:#202428;
}

h1{
  margin-top:3em;
  margin-bottom:0;
  color:#C813E2;
  font-weight:bold;
}

svg{
  position:relative;
  top:-40px;
}
